<nav class="navbar navbar-device">
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email.split("@")[0] %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
  <% end %>
  <% if current_user && current_user.provider %>
    <%= image_tag current_user.image_url %>
  <% elsif current_user && current_user.avatar.attached? %>
    <%= image_tag current_user.avatar.variant(resize: "100x100") %>
  <% end %>
</p>
</nav>
